<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salmonella</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1">




</head>
<body>
    <header>
        <a href="index.html" class="logo">
            <img src="sal logo.jpeg" alt="Acsent Logo">
            Salmonella<span style="color: plum;">.</span>
        </a>
        <!-- Hamburger button -->
        <div class="hamburger" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </header>
    

      <section class="home" id="home">

        <div class="content">
    
       
    
    <h3>What is Salmonella?</h3>
   
    <p>you might be wondering what is salmonella. well, you are in the right place. Read along to get educated on this topic</p>
    <a href="#info" class="btn"> learn More</a>
    
    
    </div>
    </section>


<!-- The popup container -->
<div id="popupContainer" class="popupContainer">
    <div class="popupContent">
        <span class="closeBtn" onclick="closePopup()">&times;</span>
        <h2>Alert!</h2>
        <h3>Please scan the code to participate in our survey</h3>
        <img src="scan code.png" alt="Scan Code">
        <h3>It will only take a minute ;D</h3>
    </div>
</div>




<div class="info" id="info">
    <div class="content">
        <div class="text">
            <h3>What is Salmonella</h3>
            <p>Salmonella is a common bacterial disease that affects the intestinal tract. Salmonella bacteria typically live in animal and human intestines and are shed through stool (feces).</p>           

        </div>
        <div class="image">
            <img src="riceegg.gif" alt="Awareness Image">
        </div>
    </div>
</div>

<div id="goal" class="achievements">
<h3>How we achieved our goals</h3>
</div>



<section id="product" style=" 
position: relative; justify-content: center; display: flex; align-items: center; min-height: 100vh;
height: 100vh; width: 100%; padding: 3rem 4rem; box-sizing: border-box;">

    <div class="container" >
    <div id="slide">
        <div class="item" style="background-image: url(cross\ contam.jfif);">
            <div class="content">
                <div class="name" style="font-size: 40px;">To stop spreading</div>
                <div class="des">Avoid cross contamination</div>
            </div>
        </div>
        <div class="item" style="background-image: url(goals.jpg);">
            <div class="content">
                <div class="name" style="font-size: 40px;">By</div>
                <div class="des"> Our hard work, focusing, dedication and a lot more we achieved our goals! </div>
              </div>
        </div>
        <div class="item" style="background-image: url(cook\ well.jpg);">
            <div class="content">
                <div class="name" style="font-size: 40px;">To stop spreading</div>
                <div class="des">Cook your food well</div>
              </div>
        </div>
        <div class="item" style="background-image: url(wash\ hands.jpg);">
            <div class="content">
                <div class="name" style="font-size: 40px;">To stop spreading</div>
                <div class="des"> Make sure to wash your hands well</div>
              </div>
        </div>
        <div class="item" style="background-image: url(animal\ handling.jpg);">
            <div class="content">
                <div class="name" style="font-size: 40px;">To stop spreading </div>
                <div class="des">Be careful when handling animals</div>
              </div>
        </div>
        <div class="item" style="background-image: url(storing\ food.jpg);">
            <div class="content">
                <div class="name" style="font-size: 40px;">To stop spreading</div>
                <div class="des">Store your food at the appropriate temperatures</div>
              </div>
        </div>
    </div>
    <div class="buttons">
        <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
        <button id="next"><i class="fa-solid fa-angle-right"></i></button>
    </div>

</div>
</section>



<section class="vid" id="vid">
  <h3>Here is a short film to raise awareness about Salmonella</h3>
    <video id="myVideo" src="pbl vid.mp4" controls></video>
</section>


<div class="awareness" id="awareness">



    <div class="content">
        <div class="text">
            <h3>Why we should spread awareness?</h3>
            <p>Foodborne illnesses can be rather serious, particularly in young children. The most common illnesses brought on by contaminated food are diarrheal infections, which affect 550 million people every year, including 220 million children under the age of five. One of the four main causes of diarrheal illnesses worldwide is salmonella.</p>  

        </div>
        <div class="image">
            <img src="awareness.jpg" alt="Awareness Image">
        </div>
    </div>
</div>

<h1 style="text-align: center; font-size: 50px; margin-bottom: 40px; color:cornflowerblue;">About us</h1>

<div  class="slider-container"> 
  <section class="swiper mySwiper">

    <div class="swiper-wrapper">

      <div class="card swiper-slide">
        <div class="card__image">
          <img src="soso.jpeg" alt="card image">
        </div>

        <div class="card__content">
          <span class="card__title">Sarah Alsorayia </span>
          <span class="card__name">Student</span>
          <p class="card__text" style="font-size:9px;">Hello, I am Sarah, My birthdate is in March 24, 2012. I am an only child, My nationality is Saudi, And I’m proud of it. So far, my favorite subjects are English and Science. And I’m eager to share more memories in the future, And achieve my goals! ❤️</p>
        </div>
      </div>

      <div class="card swiper-slide">
        <div class="card__image">
          <img src="alina.jpeg" alt="card image">
        </div>

        <div class="card__content">
          <span class="card__title">Alaina Alsaleh</span>
          <span class="card__name">Student</span>
          <p class="card__text" style="font-size:9px;">I am Alaina. I am age 11 born in Canada and lived nine years of my life there.I started Taking school seriously at fourth grade and I've come so far Since then.I'm excited to share More exciting Moments  in the future And have more great opportunities to come. My specialities are English and math and I love doing art and sports such as basketball in boxing .</p>
        </div>
      </div>

      <div class="card swiper-slide">
        <div class="card__image">
          <img src="jena.jpeg" alt="card image">
        </div>

        <div class="card__content">
          <span class="card__title">Jana Tashkandi</span>
          <span class="card__name">Student</span>
          <p class="card__text">My name is Jana Basel Tashkandi I’m 11 years old and I have 3 siblings and they are all triplets they are all in college and they are all in three different cities.</p>
        </div>
      </div>

      <div class="card swiper-slide">
        <div class="card__image">
          <img src="bana.jpg" alt="card image">
        </div>

        <div class="card__content">
          <span class="card__title">Bana Safadi</span>
          <span class="card__name">Student</span>
          <p class="card__text">My favorite color is pink and i am 11 my birthday is November 3</p>
        </div>
      </div>

    </div>
  </section>
</div>

<!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 0,
        stretch: 0,
        depth: 300,
        modifier: 1,
        slideShadows: false,
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>

 
  <br><br><br><br>  <br><br><br><br>



<footer id="footer"> 
    <div class="footerContainer">
        <div class="socialIcons">
    
    <a href=""><i class="fa-brands fa-facebook"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
    <a href=""><i class="fa-brands fa-twitch"></i></a>
    <a href=""><i class="fa-brands fa-google-plus"></i></a>
    <a href=""><i class="fa-brands fa-youtube"></i></a>
    
        </div>
    
        <div class="footerNav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#about">About us</a></li>
                <li><a href="#footer">Contact Us</a></li>
    
            </ul>
        </div>
    
    </div>
    
    <div class="footerBottom">
        <p>Copyright &copy;2024  <span class="designer"></span> </p>
    </div>
    </footer>   
<script src="java.js"> </script>


    
    

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 0,
          stretch: 0,
          depth: 300,
          modifier: 1,
          slideShadows: false,
        },
        pagination: {
          el: ".swiper-pagination",
        },
      });


    </script>
</body>
</html>
